<!DOCTYPE html>
<html>
  <head>
    <title>Sstimesheet</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/flatly/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Super Simple Timesheet</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= render 'devise/menu/registration_items' %></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="container main-container">
      
      <div class="page-header">
        <h1>Super Simple Timesheet</h1>
        <p class="lead">Track your time, don't miss your tasks.</p>
      </div>

      <% if notice.present? %>
        <p class="notice alert-warning"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      <hr />
    </div> 

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>